#### **Задание 1.**

1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам.
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5.



##### Пояснения:
2. Если было бы необходимо найти последовательность из 3-х значений,  
равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1].

3. Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4]. А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [2]:
import pandas as pd
import numpy as np

s = pd.Series(np.linspace(0, 20, 15))
print(s)

s2 = s.divide(s.shift(1))
print(s2)

print(s2[s2 <= 1.5].mean())

0      0.000000
1      1.428571
2      2.857143
3      4.285714
4      5.714286
5      7.142857
6      8.571429
7     10.000000
8     11.428571
9     12.857143
10    14.285714
11    15.714286
12    17.142857
13    18.571429
14    20.000000
dtype: float64
0          NaN
1          inf
2     2.000000
3     1.500000
4     1.333333
5     1.250000
6     1.200000
7     1.166667
8     1.142857
9     1.125000
10    1.111111
11    1.100000
12    1.090909
13    1.083333
14    1.076923
dtype: float64
1.181677812927813

#### **Задание 2.**

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям.

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12.
2. Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат.
3. Выберите из s только целочисленные элементы и вычислите их дисперсию.

Все полученные результаты округлите до 2-х знаков после запятой.

##### Пояснения:
3. Целочисленные значения - значения, имеющие тип int.
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [3]:
s = pd.Series([1.23, 2.34, 3.45, 4.56, 5.67, 6.78, 7.89, 8.90, 9.01, 10.12], index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# 1
s_new = pd.Series(s.values, index=range(2, 12))

# 2
sum_selected = s[[3, 5]].sum()

# 3
integer_values = s[s.index.astype(int) == s.index]
variance_integer_values = np.var(integer_values, ddof=0)

print("1. Новый Series:\n", s_new.round(2))
print("2. Сумма элементов с индексами 3 и 5:", round(sum_selected, 2))
print("3. Дисперсия целочисленных элементов:", round(variance_integer_values, 2))

1. Новый Series:
 2      1.23
3      2.34
4      3.45
5      4.56
6      5.67
7      6.78
8      7.89
9      8.90
10     9.01
11    10.12
dtype: float64
2. Сумма элементов с индексами 3 и 5: 9.12
3. Дисперсия целочисленных элементов: 8.35

#### **Задание 3.**
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза.
3. Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса.
4. Выведите количество значений серии меньше нуля.

#### Пояснения:
 - Следует внимательнее использовать [ ] для выбора данных по нескольким условиям: либо выбирать данные последовательно, либо сразу по нескольким условиям, но через оператор &. Отличие оператора and от оператора &: and - выводит последнее проверенное значение, & - выводит пересечение значений.
Пример: s[ _  &  _ ].sum()

In [4]:
np.random.seed(242)

s = pd.Series(np.random.normal(size=100) ** 3, index=(x * 3 for x in range(0, 100)))
print("Сумма элементов < 2.6: ", s[(x % 2 != 0 for x in s.index) and (s < 2.6)].sum())
print("Меньше нуля: ", s[(s < 0)].count())

Сумма элементов < 2.6:  -34.60623872133333
Меньше нуля:  51

#### **Задание 4.**
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [6]:
dataset_tr_types = pd.read_csv('tr_types.csv', delimiter=';')

np.random.seed(242)


s_tr_types = dataset_tr_types.sample(100)

d = round(len(s_tr_types[s_tr_types['tr_description'].str.lower().str.contains('плата')])/len(s_tr_types), 2)
print(d)

0.26

#### **Задание 5.**
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

In [5]:
dataset_transactions = pd.read_csv('transactions.csv')

count = dataset_transactions['tr_type'].value_counts()

print(count.iloc[range(0,5)])

tr_type
1010    1589734
2010    1040713
1030     970994
1110     928154
7070     691896
Name: count, dtype: int64

#### **Задание 6.**
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)

##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>

In [6]:
dataset_transactions = pd.read_csv('transactions.csv')

customer = dataset_transactions.set_index('customer_id')

print(customer['amount'].idxmax())

26782922

#### **Задание 7.**
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.

В результате соединения датафреймов должно получиться 999584 строки.

In [9]:
import pandas as pd

# Загрузка данных
transactions = pd.read_csv('transactions.csv')
gender_train = pd.read_csv('gender_train.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', delimiter=';')
tr_types = pd.read_csv('tr_types.csv', delimiter=';')

# Производим left join с gender_train и inner join с остальными таблицами
transactions = pd.merge(transactions, gender_train, on='customer_id', how='left')
transactions = pd.merge(transactions, tr_mcc_codes, on='mcc_code', how='inner')
transactions = pd.merge(transactions, tr_types, on='tr_type', how='inner')

transactions.shape

(6846580, 9)

#### **Задание 8**
Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3], то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

In [8]:
man_woman = transactions.set_index('gender')

man = ((man_woman.loc[0.0 and man_woman['amount'] < 0])['amount'].sum()/(man_woman.loc[0.0 and man_woman['amount'] < 0])['amount'].count())
woman = ((man_woman.loc[1.0 and man_woman['amount'] < 0])['amount'].sum()/(man_woman.loc[1.0 and man_woman['amount'] < 0])['amount'].count())

print (abs(man - woman))

45740.67653822275

#### **Задание 9**

1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (*)
2. Оставьте только наблюдения с отрицательным значением amount.

##### Пояснения:
(*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии.
Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

In [10]:
transactions = pd.read_csv('transactions.csv')

transactions['mcc_code_tr_type'] = transactions['mcc_code'].astype(str) + transactions['tr_type'].astype(str)

print((transactions[transactions['amount'] < 0]).head())

   customer_id tr_datetime  mcc_code  tr_type    amount term_id  \
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN
5     39026145  2 15:53:49      5541     1010 -14643.37     NaN

  mcc_code_tr_type
0         48141030
2         48292330
3         54991010
4         54991010
5         55411010